# Salaisuudet
.env
.env.local
**/.env

# Riippuvuudet (estää molemmat kansiot)
node_modules/
**/node_modules/

# Macin/Windowsin turhat tiedostot
.DS_Store
Thumbs.db

# Angularin koosteet
/dist/
/.angular/
